<a href="https://colab.research.google.com/github/sabinaML/Python_probability_theory_statistics/blob/main/%D0%91%D0%B0%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5%20%D0%BF%D0%BE%D0%BD%D1%8F%D1%82%D0%B8%D1%8F%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [ ]:
#https://drive.google.com/file/d/1hAvsjtb9gwy3DoPGRVKHfhd9blMEFRnY/view?usp=sharing

In [ ]:
! gdown --id 1hAvsjtb9gwy3DoPGRVKHfhd9blMEFRnY

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1hAvsjtb9gwy3DoPGRVKHfhd9blMEFRnY
To: /content/horse_data.csv
100% 25.5k/25.5k [00:00<00:00, 28.7MB/s]

Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
df=pd.read_csv('/content/horse_data.csv', na_values='?')
df

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
296,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
297,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
298,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
299,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2

In [ ]:
df = df[['1', '2', '4','5','6','7', '11', '23']]
df

       1  2     4      5     6    7   11   23
0    2.0  1  38.5   66.0  28.0  3.0  5.0  2.0
1    1.0  1  39.2   88.0  20.0  NaN  3.0  3.0
2    2.0  1  38.3   40.0  24.0  1.0  3.0  1.0
3    1.0  9  39.1  164.0  84.0  4.0  2.0  2.0
4    2.0  1  37.3  104.0  35.0  NaN  NaN  2.0
..   ... ..   ...    ...   ...  ...  ...  ...
295  1.0  1   NaN  120.0  70.0  4.0  2.0  3.0
296  2.0  1  37.2   72.0  24.0  3.0  4.0  3.0
297  1.0  1  37.5   72.0  30.0  4.0  4.0  2.0
298  1.0  1  36.5  100.0  24.0  3.0  3.0  1.0
299  1.0  1  37.2   40.0  20.0  NaN  NaN  3.0

[300 rows x 8 columns]

In [ ]:
df.columns = ['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome']

In [ ]:
df

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [ ]:
#количество пропусков (больше всего в rectal_temperature , respiratory_rate, temperature_of_extremities, pain )
df.isna().mean()

surgery                       0.003333
age                           0.000000
rectal_temperature            0.200000
pulse                         0.080000
respiratory_rate              0.193333
temperature_of_extremities    0.186667
pain                          0.183333
outcome                       0.003333
dtype: float64

In [ ]:
#базовые статистики
df.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [ ]:
#выбросы для колонки age.

In [ ]:
q1=df.age.quantile(0.25)
q3=df.age.quantile(0.75)
iqr=q3-q1
lower=q1-1.5*iqr
upper=q3+1.5*iqr

In [ ]:
df[~df['age'].between(lower,upper, inclusive=True)]['age'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  """Entry point for launching an IPython kernel.

9    24
Name: age, dtype: int64

In [ ]:
#возраст - либо 1, либо 9. Согласно описания возраст может быть либо 1 - взрослая лошадь, либо 2 - молодая. 
# 9 - это какие-то ошибочные записи - выбросы
df.age.value_counts()

1    276
9     24
Name: age, dtype: int64

In [ ]:
#выбросы для колонки rectal_temperature, нормальная температура - 37.8 (границы выбросов - 36.6-39.6)
q1=df.rectal_temperature.quantile(0.25)
q3=df.rectal_temperature.quantile(0.75)
iqr=q3-q1
lower=q1-1.5*iqr
upper=q3+1.5*iqr

In [ ]:
df[~df['rectal_temperature'].between(lower,upper, inclusive=True)]['rectal_temperature'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  """Entry point for launching an IPython kernel.

40.3    2
36.5    2
39.9    1
35.4    1
39.7    1
36.4    1
39.6    1
36.0    1
36.1    1
36.6    1
40.8    1
40.0    1
Name: rectal_temperature, dtype: int64

In [ ]:
#выбросы для колонки pulse. Норма - это 30-40. Все, что выше 150 - относим к выбросам
q1=df.pulse.quantile(0.25)
q3=df.pulse.quantile(0.75)
iqr=q3-q1
lower=q1-1.5*iqr
upper=q3+1.5*iqr

In [ ]:
df[~df['pulse'].between(lower,upper, inclusive=True)]['pulse'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  """Entry point for launching an IPython kernel.

150.0    2
164.0    1
160.0    1
184.0    1
Name: pulse, dtype: int64

In [ ]:
#выбросы для колонки respiratory_rate
#полезность сомнительна из-за больших колебаний
q1=df.respiratory_rate.quantile(0.25)
q3=df.respiratory_rate.quantile(0.75)
iqr=q3-q1
lower=q1-1.5*iqr
upper=q3+1.5*iqr

In [ ]:
df[~df['respiratory_rate'].between(lower,upper, inclusive=True)]['respiratory_rate'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  """Entry point for launching an IPython kernel.

80.0    3
68.0    3
84.0    2
96.0    2
90.0    2
70.0    2
72.0    1
66.0    1
88.0    1
Name: respiratory_rate, dtype: int64

In [ ]:
# в поле surgery пропущено 1 значение
df[df.surgery.isna()]

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [ ]:
df[df.outcome.isna()]

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [ ]:
#заполним пропущеные значения медианным значением

In [ ]:
df['surgery']=df['surgery'].fillna(df['surgery'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['rectal_temperature']=df['rectal_temperature'].fillna(df['rectal_temperature'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['pulse']=df['pulse'].fillna(df['pulse'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['respiratory_rate']=df['respiratory_rate'].fillna(df['respiratory_rate'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['temperature_of_extremities']=df['temperature_of_extremities'].fillna(df['temperature_of_extremities'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['pain']=df['pain'].fillna(df['pain'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['outcome']=df['outcome'].fillna(df['outcome'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.corr()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
surgery,1.000000,-0.088408,0.036004,-0.173301,-0.174573,-0.132398,-0.290174,-0.115352
age,-0.088408,1.000000,0.178850,0.505530,0.374687,-0.016143,0.030829,-0.003341
rectal_temperature,0.036004,0.178850,1.000000,0.197137,0.229517,0.060288,-0.063570,-0.047597
pulse,-0.173301,0.505530,0.197137,1.000000,0.433151,0.260891,0.249443,0.306255
respiratory_rate,-0.174573,0.374687,0.229517,0.433151,1.000000,0.081226,0.077917,0.052573
temperature_of_extremities,-0.132398,-0.016143,0.060288,0.260891,0.081226,1.000000,0.254183,0.313814
pain,-0.290174,0.030829,-0.063570,0.249443,0.077917,0.254183,1.000000,0.275095
outcome,-0.115352,-0.003341,-0.047597,0.306255,0.052573,0.313814,0.275095,1.000000